<div class="Sellers-header" ><h3 translate="sellers.HeadTitle"></h3></div>
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>
<div ng-hide="isLoading">

	<button class="btn btn-default" ng-click="onAddSeller()">
		<i class="fa fa-plus" />
		<span translate="sellers.Add" />
	</button>
	<button class="btn btn-default" ng-click="onEditSeller()">
		<i class="fa fa-plus" />
		<span translate="sellers.Edit" />
	</button>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr table-sort="name">
					<th data-columnName="name">
						<i class="fa fa-plus" />
						<span translate="sellers.Name" />
					</th>
					<th data-columnName="name" translate="sellers.Category"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in sellers | orderBy:predicate:reverse track by s.id">
					<td><a ng-href="#/seller-details/{{s.id}}">{{s.name}}</a></td>
					<td>{{s.category}}</td>
					<td ng-show="edited"><button ng-click="getSeller(s)" translate="sellers.Pick"></button> 
				</tr>
			</tbody>
			<tr></tr>
		</table>
	</div>
</div>




		