<div> Hér ætti að birtast listi af seljendum - TODO: útfæra það!</div>
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading">
	<button class="btn btn-primary" ng-click="onAddSeller()">
		<i class="fa fa-plus" />
		<span translate="sellers.Add" />
	</button>
	<table>
		<thead>
			<th>
				<i class="fa fa-plus" />
				<span translate="sellers.Name" />
			</th>
			<th translate="sellers.Category">Category</th>
		</thead>
		<tbody>
			<tr ng-repeat="s in sellers track by s.id">
				<td><a ng-href="#/seller-details/{{s.id}}">{{s.name}}</a></td>
				<td>{{s.category}}</td>
			</tr>
		</tbody>
		<tr></tr>
	</table>
</div>




		