.Seller-details {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	padding: 15px;
}

.Seller-details-info {
	float: left;
	width: 120px;
	height: 90px;
	margin-top: 30px;
	margin-left: 10px;
}

.Seller-details-info p {
	margin-left: 15px;
}

.Seller-details-img {
	float: left;
	overflow: hidden;
}

.Seller-details-add {
	float: right;
}

.modal-content {
	padding: 15px;
}

.errormsg {
	width: 100%;
	background: #ff8080 !important;
	padding: 10px !important;
}