<div class="Seller-details panel panel-default">
	<div class="Seller-details-img">
		<img height="175px" width="280px" class="img-rounded" src="{{img}}" alt="Seller image"></img>
	</div>
	<div class="Seller-details-add">
		<button class="btn btn-default" ng-click="onAddProduct()">
			<i class="fa fa-plus" />
			<span translate="sellerdetails.Add" />
		</button>
	</div>
	<div class="Seller-details-info">
		<label translate="sellersDlg.Name">:</label>
		<p>{{name}}</p>
		<label translate="sellersDlg.Category">:</label>
		<p>{{category}} </p>
	</div>
</div>


<div>
<button class="btn" ng-click="onCheckTab()">tabs</button>
</div>
<div ng-show="tabs">
	<product-Tab></product-Tab>
</div>
<div ng-hide="tabs">
	<product-Top></product-Top>
</div>