<div class="Seller-details panel panel-default">
	<div class="Seller-details-img">
		<img height="175px" width="280px" class="img-rounded" ng-src="{{img}}" alt="Seller image missing"></img>
	</div>
	<div class="Seller-details-add">
		<button class="btn btn-default" ng-click="onAddProduct()">
			<i class="fa fa-plus" />
			<span translate="sellerdetails.Add" />
		</button>
	</div>
	<div class="Seller-details-info">
		<label translate="sellerdetails.Name">:</label>
		<p>{{name}}</p>
		<label translate="sellerdetails.Category">:</label>
		<p>{{category}}</p>
	</div>
</div>


<form name="outerForm" class="tab-from-demo">
	<uib-tabset active="activeForm">
		<uib-tab index="0" heading="{{ 'sellerdetails.Tab' | translate }}">
			<product-Tab></product-Tab>
		</uib-tab>
		<uib-tab index="1" heading="{{ 'sellerdetails.TopTen' | translate }}">
			<product-Top></product-Top>
		</uib-tab>
	<uib-tabset>
</form>

