<h2 class="form-signin-heading" translate="{{title}}"></h2>
<!--<label translate="sellersDlgDetail.Name"></label>-->
<input type="text" ng-model="newProduct.product.name" placeholder="{{ 'sellersDlg.Name' | translate }}" class="form-control" />
<!-- validation og meira fun -->
<br>
<!--<label translate="sellersDlgDetail.Price"></label>-->
<input type="text" ng-model="newProduct.product.price" placeholder="{{ 'sellersDlgDetail.Price' | translate }}" class="form-control" />
<br>
<!--<label translate="sellersDlgDetail.Img"></label>-->
<input type="text" ng-model="newProduct.product.imagePath" placeholder="{{ 'sellersDlg.Img' | translate }}" class="form-control" />
<br>
<button class="btn btn-lg btn btn-default btn-block" type="submit" ng-click="onOk()" translate="sellersDlgDetail.Ok"></button>
<button class="btn btn-lg btn btn-default btn-block" type="submit" ng-click="onCancel()" translate="sellersDlgDetail.Cancel"></button>


