.well {
	float: left;
	margin-right: 15px;
} 

.Product-details {
	display: inline-block;
}

.Product-details-img {
	float: left;
	overflow: hidden;
}

.Product-details-info {
	float: left;
	margin-left: 10px;
}